
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUser</title>
</head>
<body>
    <div>
        <h1>Enter the required details to add an User</h1>

    </div>

    <div>
        <input type="button" value="Save" onclick="location.href='@Url.Action("GotoDash", "Home")'" />
    </div>

    <div>
        <input type="button" value="Cancel" onclick="location.href='@Url.Action("GotoDash", "Home")'" />
    </div>

</body>
</html>
