
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeView</title>
</head>
<body>
    <div>
        Welcome to the Phonebook Application.<br />

        <input type="button" value="Add User" onclick="location.href='@Url.Action("CreateUser", "Home")'" />
    </div>
</body>
</html>
